@use "./base/fonts";
@use "./base/reset";
@use "./base/variables" as *;
@import url("../images/icons/style.css");

body {
  background-color: $bodybg;
}

.todoApp {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 28px 16px;

  &__form {
    position: relative;
    align-items: center;
    background-color: $green;
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 10px 5px $grey);

    &__input {
      background-color: rgba(255, 255, 255, 0.3);
      border: none;
      border-radius: 5px 35px 35px 5px;
      padding: $itempadding;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      width: 100%;
      color: $white;

      &::placeholder {
        color: $white;
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }

    &__button {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 40px;
      text-decoration: none;
      color: $green;
      background-color: $white;
      border-radius: 50%;
      padding: 14.5px 23.5px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__list {
    padding: 20px 20px;

    &__item {
      display: flex;
      align-items: center;
      background-color: $white;
      border-radius: 5px;
      margin-bottom: 15px;
      filter: drop-shadow(0px 2px 2px $grey);

      &--checked {
        text-decoration: line-through;
        text-decoration-color: $green;
      }

      .text {
        flex-grow: 1;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        color: $black;
        padding: $itempadding;
      }
      a.icon {
        font-size: 30px;
        height: 40px;
        width: 60px;
        padding: 5px 15px;
        &--remove {
          color: $grey;

          &:hover {
            color: crimson;
          }
        }
        &--check {
          border-left: 1px solid $bodybg;
          color: $green;

          &:hover {
            color: rgba($color: $green, $alpha: 0.3);
          }
        }
      }
    }
  }
}
